* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 16px */
    /* 1rem = 10px */
    /* 10px/16px = 0.625 */
    /* 0.625*100 = 62.5% */

    /* font-size: 10px; */

    font-size: 62.5%;
}

body {
    font-family: 'Poppins';
}

:root {
    --primary_color: #020202;
    --secondary_color: #878787;
    --logo_color: #069ABA;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 138.7rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;

}

.col-5 {
    width: 41.65%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.justify-content-centre {
    justify-content: center;
}

.main-title {
    color: #020202;
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 2.8rem;

}

.sub-title {
    color: #878787;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    max-width: 75.6rem;
    margin: 0 auto;
}

.coman-but {
    font-family: 'Poppins';
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    background-color: #000000;
    border-radius: 2.84rem;
    padding: 1rem 2.5rem;

}

section {
    margin-top: 15rem;
}

/*****************HEADER********************/
header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-top: 0.5rem;
    width: 100%;
}

header .logo {
    width: 20rem;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}


header nav>ul {
    display: flex;

}

nav {
    margin-left: auto;

}

header nav>ul>li>a {
    padding: 0 3.3rem;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 600;

}

header .search {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    padding-left: 3.3rem;

}
header .container>nav>ul>li>a:hover {
    background-color: aqua;
    color: white;
}

.fa-bars,
.fa-xmark {
    display: none;
}

nav>ul>li {
    position: relative;
}
#Submenu {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 15rem;
    display: none;
}

header .container>nav>ul>li:hover #Submenu {
    display: inline-block;
}

#Submenu a {
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem;
    color: white;
    font-size: 1.8rem;
    background-color: #069ABA;
    width: 100%;
    position: relative;
}

#Submenu a:hover {
    background-color: aqua;
    color: darkorange;
}
#Submenu>li {
    position: relative;
}
.subsubmenu {
    position: absolute;
    top: 0rem;
    left: 15rem;
    width: 15rem;
    display: none;
}
#Submenu>li:hover .subsubmenu{
    display: inline-block;
}


/********************************************/


/*****************HERO********************/

#hero {
    margin-top: 0;
}

#hero .container {
    position: relative;
    z-index: 9;
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(../image/travell-bg.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
}

#hero h1 {
    color: #FFF;
    font-size: 90px;
    font-weight: 700;
    line-height: 110px;
    padding-top: 27.5rem;
    margin-bottom: 3.69rem;
}

#hero p {
    color: #CFCFCF;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    max-width: 43.62rem;
}

#hero .hero-detail {
    width: 60%;
    padding: 1rem 1rem 1rem 1.6rem;
    border-radius: 7.2rem;
    border: 1px solid #CBCACA;
    background: #FFF;
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.30);
    margin-top: 1.14rem;
    margin-bottom: 3.63rem;
    display: flex;
    justify-content: space-between;
}

.hero-detail select {
    color: #9B9B9B;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.6rem;
    outline: none;
    border: none;

}



/********************************************/


/********************About *****************/
.detail-about {
    margin-top: 8rem;
    row-gap: 8.5rem;
}

.about-data {
    text-align: center;

}

.about-data h3 {
    color: var(--primary_color);
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 70px;
    margin-top: 4.23rem;
}

.about-data p {
    color: var(--secondary_color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    max-width: 47.9rem;
}

.about-detail {
    margin-top: 8.3rem;
    row-gap: 4rem;
}

.about-detail .Founder-detail {
    padding-right: 13rem;
}

.about-detail .Founder-detail img {
    width: 100%;
    height: 54.9rem;
    border-radius: 15rem 0 15rem 0;
    object-fit: cover;

}

.about-detail .Founder-data img {
    margin-bottom: 4.98rem;
}

.about-detail .Founder-data p {
    color: #484848;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 4.4rem;
}

.about-detail .Founder-data h3 {
    color: #000;
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
}

.work {
    padding-right: 2.8rem;

}

.vision {
    padding: 0 2.8rem;
}

.mision {
    padding-left: 2.8rem;
}

.about-detail .Founder-data p:last-child {
    margin-bottom: 0;
}

/********************************************/

/********************Packages*****************/


.Popular-heading {
    justify-content: space-between;
    margin-top: 11.1rem;
    align-items: flex-end;
    row-gap: 4rem;
}

.popular-packages h3 {
    color: #000;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 1.4rem;
}

.popular-packages p {
    color: #878787;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    max-width: 57.7rem;
}

.popular-data {
    text-align: right;

}

.popular-place {
    margin-top: 6.6rem;
    row-gap: 2.8rem;
}

.Midale-place {
    margin: 0 0.9rem;
}

.Midale-place img {
    width: 100%;
    height: 31.9rem;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
}


.place-data {
    margin-top: -0.5rem;
    padding: 3.4rem 3.1rem;
    border-radius: 0 0 1rem 1rem;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);

}

.place-price {
    display: flex;
    row-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

.place-price h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.place-price h6 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.place-data p {
    color: #555;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 2.8rem;
    margin-bottom: 3.4rem;
}

.but-rev {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    row-gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.review i {
    font-size: 2rem;
    color: #F4BC61;
}

.review a {
    margin: 0 0.4rem;
}

/********************************************/


/****************DESTINATION*******************/


.mySwiper {
    padding-top: 9rem;
}

#Destination .sub-title {
    margin-bottom: 9rem;
}

#Destination .swiper-slide img {
    display: block;
    width: 100%;
    height: 36.1rem;
    object-fit: cover;
}

#Destination .swiper-slide {
    margin-right: 0 !important;
    padding-top: 4.4rem;
}

#Destination .swiper-slide .destination-detail:hover img {
    height: 31.3rem;
    border-radius: 1rem 1rem 0 0;
}

.destination-detail {
    margin: 0 1rem;
    border-radius: 1rem;
    transition: all 0.5s;
}

.destination-detail img {
    border-radius: 1rem;
}

.destination-data {
    padding: 3rem 1.8rem 2.6rem;
    position: relative;
    opacity: 0;
}

.destination-detail:hover .destination-data {
    opacity: 1;
}

.destination-detail:hover {
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.10);
    transform: translateY(-1.5rem);

}

.destination-data .circle {
    width: 7.8rem;
    height: 7.8rem;
    border-radius: 50%;
    box-shadow: 0px 4px 31px 0 rgba(0, 0, 0, 0.14);
    position: absolute;
    right: 1.3rem;
    top: -1.8rem;
    background: #FFF;
}

.destination-data .circle span {
    color: #000;
    font-size: 72px;
    font-weight: 400;
    line-height: normal;
    padding: 1.3rem 2.5rem;
}

.destination-data h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}

.destination-data p {
    color: #555;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

#Destination .swiper-button-next,
#Destination .swiper-button-prev {
    top: 2.5rem;
    width: 6.8rem;
    height: 6.8rem;
    box-shadow: 0px 8px 50px 0 rgba(0, 0, 0, 0.10);
    background-color: #FFF;
    border-radius: 1rem;

}

#Destination .swiper-button-next::after,
#Destination .swiper-button-prev::after {
    font-size: 2rem;
    color: #737373;
    font-weight: bold;
}


/********************************************/


/*****************BLOG******************/
#Blog {
    margin-top: 3rem;
}

.blog-detail {
    margin-top: 13.5rem;
    row-gap: 5rem;
}

.blog-left-data {
    margin-right: 2.9rem;
    row-gap: 5.8rem;

}

.destination {
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 1.2rem 1.8rem 4.2rem 2.6rem;
    border-radius: 1rem;
    margin: 0 1rem;

}

.destination h6 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
}

.destination h3 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;


}

.destination h4 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;


}

.destination p {
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    max-width: 46.2rem;
    margin-bottom: 7.5rem;
}

.going {
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
    padding: 1.2rem 1.8rem 4.2rem 2.6rem;
    border-radius: 1rem;
    margin: 0 1rem;

}

.going h6 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
}

.going h3 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;

}

.going h4 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;

}

.going p {
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    max-width: 46.2rem;
    margin-bottom: 7.5rem;
}

.travel-future {
    margin-left: 2.9rem;
}

.travel-fut-data {
    margin-top: -0.5rem;
    padding: 2.25rem 2.2rem 4.2rem 2rem;
    border-radius: 0 0 1rem 1rem;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);

}

.travel-future img {
    height: 67.9rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 1rem 1rem 0 0;

}

.travel-fut-data h6 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 70px;
}

.travel-fut-data h3 {
    color: #000;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    max-width: 67rem;
}

.travel-fut-data p {
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    margin-top: 2rem;
    margin-bottom: 7.5rem;
}

#Blog .coman-but {
    padding: 2rem 5rem;
    border-radius: 3.9rem;
    font-size: 24px;
}




/********************************************/


/* ****************TESTIMONIAL************** */

#Testimonial .swiper-wrapper {
    padding: 13rem 0 0.5rem;
}

#Testimonial .container {
    max-width: 100%;
    margin-left: calc((100% - 134rem) /2);
}

#Testimonial h4 {
    color: #626262;
    font-size: 3rem;
    font-weight: 500;
    line-height: 7rem;
    letter-spacing: 0.42rem;
}

#Testimonial h2 {
    color: #020202;
    font-size: 6rem;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 1.8rem;
}


#Testimonial .title-testi {
    color: #626262;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 4rem;
    width: 44.3rem;
    margin-bottom: 4.21rem;
}

#Testimonial .swiper-slide {
    margin-right: 0 !important;
}


.Testi-detail {
    margin: 0 2rem;
}


#Testimonial .swiper-slide img {
    display: block;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    margin: 0 auto;

}

.Testiswiper .Testi-detail .profile-img {
    margin-bottom: -7rem;
    text-align: center;

}

.Testiswiper .Testi-detail .profile-img img {
    display: inline;
    border-radius: 50%;
}

.Testiswiper .Testi-detail .testi-data {
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.10);
    border-radius: 1rem;
    background: #FFF;
    padding: 0 5.4rem 5.1rem 5.3rem;
}

.Testiswiper .Testi-detail .testi-data h3 {
    padding-top: 10rem;
    color: #000;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 600;
}

.Testiswiper .Testi-detail .testi-data h6 {
    color: #858585;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 7.7rem;
}

.Testiswiper .Testi-detail .testi-data i {
    color: #F4BC61;
    font-size: 2rem;
    margin-bottom: 1.2rem;

}

.Testiswiper .Testi-detail .testi-data a {
    padding-right: 0.5rem;


}

.Testiswiper .Testi-detail .testi-data p {
    color: #858585;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem;
}

.nevigation-button {
    display: flex;
    justify-content: flex-end;
}

#Testimonial .swiper-button-next {
    position: static;
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.10);
    margin-left: 3rem;
    margin-top: 1.5rem;

}

#Testimonial .swiper-button-prev {
    position: static;
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 1rem;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.10);
    margin-right: 3rem;
    margin-top: 1.5rem;
}

#Testimonial .swiper-button-next:after,
#Testimonial .swiper-button-prev:after {
    contain: '';
    font-size: 2rem;
    color: #737373;
}



/* ********************************* */


/******************CONTACT********************/

.form-data {
    margin-top: 8rem;
    row-gap: 3rem;
}

.form-detail {
    margin-right: 5.5rem;
    padding: 7.5rem 4.1rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.form-detail input {
    width: 100%;
    margin: 1rem 0;
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    border-radius: 0.5rem;
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 1.4rem 0 1.4rem 1.9rem;
}

.form-detail textarea {
    width: 100%;
    height: 16.6rem;
    padding: 1.3rem 0 0 1.8rem;
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
    border-radius: 0.5rem;
    border: 1px solid #C4C4C4;
    outline: none;
    margin-bottom: 4.5rem;
    font-family: Poppins;
}

.form-detail .coman-but {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    line-height: 51px;
    border-radius: 33px;
    background: #000;
}

.right-detail {
    margin-left: 5.5rem;
    padding-top: 3rem;
}


.right-detail h3 {
    color: #000;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

.right-detail p {
    margin-top: 1.2rem;
    margin-bottom: 5rem;
    color: #343434;
    font-size: 18px;
    font-weight: 300;
    line-height: 33px;
}

.icon-data {
    justify-content: space-between;

}

.icon-data h6 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 51px;
}

.icon-data a {
    display: flex;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin: 1rem 0;
    padding: 1rem 0;

}

.icon-data i {
    color: #000;
    font-size: 18px;
    line-height: 22px;
    margin-right: 2rem;

}

.icon-data i:hover {
    color: #01577A;
}

.icon-detail {
    row-gap: 5rem;
}




/********************************************/

/******************Subcribe******************/
#Subcribe {
    width: 100%;
    padding: 11.7rem 0;
    background-image: url(../image/subscibe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 9;

}

#Subcribe .container {
    position: relative;
    z-index: 9;

}

#Subcribe::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
}

.Subcribe-detail {
    text-align: center;
}

.Subcribe-detail h2 {
    color: #FFF;
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}

.Subcribe-detail p {
    color: #DFDFDF;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
    padding-top: 2.5rem;
    max-width: 63rem;
    margin: 0 auto;
    margin-bottom: 9rem;
}

.Subcribe-detail .sub-data {
    width: 55%;
    padding: 1rem 0.8rem 1rem 2.2rem;
    border-radius: 3.45rem;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}

.sub-data input:first-child {
    color: #9B9B9B;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    border: none;
    outline: none;
    overflow: hidden;
    border-radius: 2rem;
}


/********************************************/


/****************FOOTER******************/
.footer-detail {
    margin-top: 11.5rem;
    row-gap: 4rem;
}

footer .logo {
    width: 20rem;
}

.pic-data p {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    max-width: 43.7rem;
}

.information h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 0.5rem;
}

.information ul li a i {
    padding-right: 2rem;
    padding-bottom: 2rem;
    color: #000000;
    font-size: 1.8rem;
}

.information ul li a i:hover {
    color: #01577A;
}

.information ul li a {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
}

.footer-detail .information a:hover {
    color: #01577A;
}

.footer-detail .information a:hover i {
    color: #01577A;
}

.Quick h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 0.5rem;
}

.Quick ul li a {
    color: #6C6C6C;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
}

.Quick ul li a:hover {
    color: #01577A;
}

.Follow h3 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    margin-bottom: 0.5rem;

}

.Follow i {
    color: #000000;
    font-size: 2rem;
}

.Follow i:hover {
    color: #01577A;
}

.Follow a {
    padding-right: 2rem;
}

.footer-last {
    margin-top: 12.5rem;
    background: #000;
    text-align: center;
    padding: 2rem 0;
}

.footer-last p {
    color: #DFDFDF;
    font-size: 18px;
    font-weight: 500;
    line-height: 34px;
}



/********************************************/